@import "tailwindcss";

/* @custom-variant dark (&:is(.dark *)); */

/* ===== Tailwind Theme ===== */
@theme {
  /* ===== Primary ===== */

  --color-primary: #003d9b;
  --color-primary-container: #0052cc;
  --color-primary-container-20: #0052cc33;
  --color-primary-10: #0052cc1a;
  --color-primary-20: #003d9b33;

  /* ===== Surface ===== */
  --color-surface-highest: #dae2ff;
  --color-week-day-picker: #94a3b8;
  --color-surface-low: #f1f3ff;
  --color-surface-low-50: #f1f3ff80;
  --color-surface-70: #ffffffb2;
  --color-surface-40: #ffffff66;
  --color-background-container: #f9f9ff;
  --color-background-container-20: #f9f9ff33;
  --color-background-check-password: #e8edff;
  --color-task-date: #94a3b8;
  --color-task-label: #64748b;

  /* ===== Slate ===== */
  --color-slate-dark: #041b3c;
  --color-userName-epic-modal: #001848;
  --color-overlay: #041b3c66;
  --color-border-topbar: #0000001a;
  --color-assignee-epic-card: #002113;
  --color-slate-dark-70: #041b3cb2;
  --color-slate-dark-60: #041b3c99;
  --color-slate-dark-40: #041b3c66;
  --color-slate-50: #c3c6d680;
  --color-slate-30: #c3c6d64d;
  --color-slate-15: #c3c6d626;
  --color-slate-20: #c3c6d633;
  --color-slate-10: #c3c6d61a;
  --color-slate-medium: #4f5f7b;
  --color-slate-light: #c3c6d6;
  --color-resend-timer: #737685;
  --color-border-form: #c3c6d64d;
  --color-border-slate-10: #c3c6d61a;

  /* ===== Semantic ===== */
  --color-head-table: #e0e8ff;
  --color-head-table-30: #e0e8ff4d;
  --color-muted-body: #434654;
  --color-muted-body-70: #434654b2;
  --color-muted-body-60: #43465499;

  --color-muted-body-30: #434654cc;

  /* ===== Semantic ===== */
  --color-success-border: #0052351a;
  --color-success-20: #82f9be33;
  --color-success-10: #0068441A;
  --color-success-message: #005235;
  --color-success: #82f9be;
  --color-do-not-recive: #00523599;
  --color-border-epic: #004e32;
  --color-assignee-container: #65dca4;
  --color-error: #ba1a1a;
  --color-error-10: #FFDAD633;
  --color-warning: #ffb300;
  --color-invalid: #ffdad6;

  /* ===== TASK STATUS COLOR ===== */
  --color-TO_DO: #d7e2ff;
  --color-IN_PROGRESS: #cdddff;
  --color-DONE: #82f9be;
  --color-BLOCKED: #ffdad6;
  --color-COMPLETE: #82f9be;
  --color-IN_REVIEW: #cdddff;
  --color-RE_OPENED: #f97316;
  --color-READY_FOR_PRODUCTION: #827754;
  --color-READY_FOR_QA: #f97316;

  /* ===== Text ===== */
  --text-no-project: 36px;
  --text-display-LG: 56px;
  --text-display-MD: 30px;
  --text-display-SM: 28px;
  --text-heading-LG: 32px;
  --text-heading-MD: 24px;
  --text-heading-SM: 20px;
  --text-title-MD: 18px;
  --text-body-LG: 16px;
  --text-body-MD: 14px;
  --text-label-LG: 12px;
  --text-label-SM: 11px;
  --text-label-XS: 10px;
  --text-initialize: 8px;
}

.section {
  @apply col-span-6 flex flex-col items-center gap-5 md:ms-[198px] p-6 md:p-8 mt-[64px] bg-background-container h-[calc(100vh-64px)];
}

.section_invite_page {
  background:
    linear-gradient(0deg, #f9f9ff, #f9f9ff),
    radial-gradient(
      141.42% 141.42% at 100% 100%,
      #f1f3ff 0%,
      rgba(241, 243, 255, 0) 50%
    ),
    radial-gradient(
      141.42% 141.42% at 0% 0%,
      #d7e2ff 0%,
      rgba(215, 226, 255, 0) 50%
    );
}

.linear_gradiant_invite {
  border-top: 4px solid linear-gradient(90deg, #003d9b 0%, #0052cc 100%);
}

.section_card {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7 w-full;
}

.section_skeleton {
  @apply col-span-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-7 md:ms-52.5 p-6 md:p-8 mt-[64px] bg-background-container;
}

.shadow-form {
  @apply md:shadow-[0px_24px_48px_0px_#041B3C0F];
}

.shadow-drop {
  @apply md:shadow-[0px_24px_48px_0px_#041B3C0F];
}

.shadow-btn {
  @apply shadow-[0px_1px_2px_0px_#0000000D];
}

.title-logo {
  @apply text-lg font-bold text-primary;
}

.main-heading {
  @apply font-bold text-slate-dark;
}

.btn-primary-desktop {
  @apply lg:py-3 lg:px-6 lg:flex lg:items-center lg:justify-center cursor-pointer lg:text-white lg:text-body-MD lg:font-semibold lg:bg-primary lg:rounded-xs;
  background: linear-gradient(
    99.3deg,
    var(--color-primary) 0%,
    var(--color-primary-container) 100%
  );
  box-shadow:
    0px 4px 6px -4px var(--color-primary-20),
    0px 10px 15px -3px var(--color-primary-20);
}

.btn-primary-mobile {
  @apply w-full py-3 px-6 flex items-center justify-center gap-2 rounded-xs cursor-pointer text-white text-body-MD font-semibold bg-primary;
  background: linear-gradient(
    99.3deg,
    var(--color-primary) 0%,
    var(--color-primary-container) 100%
  );
  box-shadow:
    0px 4px 6px -4px var(--color-primary-20),
    0px 10px 15px -3px var(--color-primary-20);
}

.btn-secondary-desktop {
  @apply lg:py-3 lg:px-6 lg:w-fit lg:gap-2 lg:rounded-xs lg:flex lg:items-center lg:justify-center cursor-pointer lg:text-body-MD lg:font-semibold lg:bg-white;
}
.btn-secondary-mobile {
  @apply w-full py-3 px-6 flex items-center justify-center gap-2 rounded-xs cursor-pointer text-body-MD font-semibold bg-white text-slate-medium;
}

.btn-action {
  @apply px-6 py-2.5 rounded-[2px] bg-background-container text-slate-medium font-semibold;
}

.label {
  @apply w-full block ms-1 text-label-SM font-bold uppercase text-muted-body;
}

.label-error {
  @apply text-error text-[10px] font-bold uppercase;
}

.input {
  @apply w-full block mt-1 px-4 py-4.5 md:py-3.5 md:px-4 outline-none border-none text-body-LG rounded-lg md:rounded-md bg-surface-highest text-slate-medium;
}

/* .input-desktop {
  @apply w-full md:h-[48px] outline-none border-none md:px-4 md:py-3.5 text-[16px] rounded-sm bg-surface-highest text-slate-medium;
} */

.input-error {
  @apply px-4 py-3.5 text-[16px] rounded-sm bg-invalid text-slate-medium;
}
.board-scroll::-webkit-scrollbar {
  height: 8px;
}

.board-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.board-scroll::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}

.board-scroll::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d0d5dd transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d0d5dd;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #98a2b3;
}

/* ======= Date Picker Classes ========== */

.rdp-range-picker {
  @apply w-80 bg-surface-70 p-5 rounded-lg flex flex-col gap-4 border border-surface-40 backdrop-blur-[20px];
}

.rdp-range-picker .rdp-month_caption {
  @apply text-body-LG font-bold text-slate-dark;
}

.rdp-range-picker .rdp-weekday {
  @apply text-label-SM font-bold text-week-day-picker;
}

.rdp-range-picker .rdp-day_button {
  @apply rounded-lg text-label-LG font-normal p-2 flex items-center justify-center;
}

/* .rdp-range-picker .rdp-outside .rdp-day_button {
  color: green;
} */

/* today */

/* .rdp-range-picker .rdp-today .rdp-day_button {
  font-weight: 700;
  color: red;
} */

.rdp-range-picker .rdp-week .rdp-day {
  @apply bg-red-400;
}

.rdp-range-picker .rdp-week .rdp-selected .rdp-day_button {
  @apply me-1;
}

.rdp-range-picker .rdp-selected .rdp-day_button {
  @apply bg-primary-container-20 text-primary font-bold text-label-LG;
}

.rdp-range-picker .rdp-range_start .rdp-day_button {
  @apply rounded-l-xl rounded-r-none border-none;
}
.rdp-range-picker .rdp-range_end .rdp-day_button {
  @apply rounded-l-none rounded-r-xl border-none;
}

.rdp-range-picker .rdp-range_middle {
  background: #d7e2ff;
}
/* 
.rdp-range-picker .rdp-range_start .rdp-day_button,
.rdp-range-picker .rdp-range_end .rdp-day_button {
  background: #d7e2ff;
  color: #003d9b;
} */

.date-range-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 12px;
  padding-top: 12px;

  border-top: 1px solid #e5e7eb;
}

.date-range-actions button:first-child {
  border: none;
  background: transparent;

  color: #64748b;

  font-size: 13px;
  font-weight: 500;

  cursor: pointer;
}

.date-range-actions button:last-child {
  border: none;
  background: #003d9b;

  color: white;

  padding: 9px 18px;

  border-radius: 2px;

  font-size: 13px;
  font-weight: 600;

  cursor: pointer;
}

.date-range-actions button:last-child:hover {
  background: #0052cc;
}
@layer base {
  body {
    @apply bg-background-container;
  }
}
