@import "tailwindcss";

/* @custom-variant dark (&:is(.dark *)); */

/* ===== Tailwind Theme ===== */
@theme {
  /* ===== Primary ===== */

  --color-primary: #003d9b;
  --color-primary-container: #0052cc;
  --color-primary-10: #0052cc1a;
  --color-primary-20: #003d9b33;

  /* ===== Surface ===== */
  --color-surface-highest: #dae2ff;
  --color-surface-low: #f1f3ff;
  --color-surface-low-50: #f1f3ff80;
  --color-background-container: #f9f9ff;
  --color-background-check-password: #e8edff;
  --color-task-date: #94a3b8;
  --color-task-label: #64748b;

  /* ===== Slate ===== */
  --color-slate-dark: #041b3c;
  --color-userName-epic-modal: #001848;
  --color-overlay: #041b3c66;
  --color-slate-dark-70: #041b3cb2;
  --color-slate-dark-60: #041b3c99;
  --color-slate-dark-40: #041b3c66;
  --color-slate-50: #c3c6d680;
  --color-slate-30: #c3c6d64d;
  --color-slate-15: #c3c6d626;
  --color-slate-20: #c3c6d633;
  --color-slate-10: #c3c6d61a;
  --color-slate-medium: #4f5f7b;
  --color-slate-light: #c3c6d6;
  --color-resend-timer: #737685;
  --color-border-form: #c3c6d64d;
  --color-border-slate-10: #c3c6d61a;

  /* ===== Semantic ===== */
  --color-head-table: #e0e8ff;
  --color-head-table-30: #e0e8ff4d;
  --color-muted-body: #434654;
  --color-muted-body-70: #434654b2;
  --color-muted-body-60: #43465499;

  --color-muted-body-30: #434654cc;

  /* ===== Semantic ===== */
  --color-success-border: #0052351a;
  --color-success-20: #82f9be33;
  --color-success-message: #005235;
  --color-success: #82f9be;
  --color-do-not-recive: #00523599;
  --color-border-epic: #004e32;
  --color-assignee-container: #65dca4;
  --color-error: #ba1a1a;
  --color-warning: #ffb300;
  --color-invalid: #ffdad6;

  /* ===== Text ===== */
  --text-no-project: 36px;
  --text-display-LG: 56px;
  --text-display-MD: 30px;
  --text-display-SM: 28px;
  --text-heading-LG: 32px;
  --text-heading-MD: 24px;
  --text-heading-SM: 20px;
  --text-title-MD: 18px;
  --text-body-LG: 16px;
  --text-body-MD: 14px;
  --text-label-LG: 12px;
  --text-label-SM: 11px;
  --text-label-XS: 10px;
  --text-initialize: 8px;
}

.section {
  @apply col-span-6 flex flex-col items-center gap-5 md:ms-[198px] p-6 md:p-8 mt-[64px] bg-background-container h-[calc(100vh-64px)];
}

.section_card {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7 w-full;
}

.section_skeleton {
  @apply col-span-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-7 md:ms-52.5 p-6 md:p-8 mt-[64px] bg-background-container;
}

.shadow-form {
  @apply md:shadow-[0px_24px_48px_0px_#041B3C0F];
}

.shadow-drop {
  @apply md:shadow-[0px_24px_48px_0px_#041B3C0F];
}

.shadow-btn {
  @apply shadow-[0px_1px_2px_0px_#0000000D];
}

.title-logo {
  @apply text-lg font-bold text-primary;
}

.main-heading {
  @apply font-bold text-slate-dark;
}

.btn-primary-desktop {
  @apply lg:py-3 lg:px-6 lg:flex lg:items-center lg:justify-center cursor-pointer lg:text-white lg:text-body-MD lg:font-semibold lg:bg-primary lg:rounded-xs;
  background: linear-gradient(
    99.3deg,
    var(--color-primary) 0%,
    var(--color-primary-container) 100%
  );
  box-shadow:
    0px 4px 6px -4px var(--color-primary-20),
    0px 10px 15px -3px var(--color-primary-20);
}

.btn-primary-mobile {
  @apply w-full py-3 px-6 flex items-center justify-center gap-2 rounded-xs cursor-pointer text-white text-body-MD font-semibold bg-primary;
}

.btn-secondary-desktop {
  @apply lg:py-3 lg:px-6 lg:w-fit lg:gap-2 lg:rounded-xs lg:flex lg:items-center lg:justify-center cursor-pointer lg:text-body-MD lg:font-semibold lg:bg-white;
}
.btn-secondary-mobile {
  @apply w-full py-3 px-6 flex items-center justify-center gap-2 rounded-xs cursor-pointer text-body-MD font-semibold bg-white text-slate-medium;
}

.btn-action {
  @apply px-6 py-2.5 rounded-[2px] bg-background-container text-slate-medium font-semibold;
}

.label {
  @apply w-full block ms-1 text-label-SM font-bold uppercase text-muted-body;
}

.label-error {
  @apply text-error text-[10px] font-bold uppercase;
}

.input {
  @apply w-full block mt-1 px-4 py-4.5 md:py-3.5 md:px-4 outline-none border-none text-body-LG rounded-lg md:rounded-md bg-surface-highest text-slate-medium;
}

/* .input-desktop {
  @apply w-full md:h-[48px] outline-none border-none md:px-4 md:py-3.5 text-[16px] rounded-sm bg-surface-highest text-slate-medium;
} */

.input-error {
  @apply px-4 py-3.5 text-[16px] rounded-sm bg-invalid text-slate-medium;
}
.board-scroll::-webkit-scrollbar {
  height: 8px;
}

.board-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.board-scroll::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}

.board-scroll::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
/* @theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */

@layer base {
  body {
    @apply bg-background-container;
  }
}
